#map-container {
  width: 800px;
  height: 75%;
  margin: 0 auto;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: orange;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 400px;
  height: 100%;
  padding: 15px;
}

.sidebar h3 {
  font-size: 30px;
  text-align: center;
}
