

html, body {
  margin: 0 auto;
  height: 100%;
  text-align: center;
  background-color: orange;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 30px;
}

#map-container {
  width: 800px;
  height: 75%;
  margin: 0 auto;
}

.container {
  display: flex-grow;
  height: 100%;
}

.sidebar {
  width: 400px;
  height: 100%;
  padding: 15px;
}

.paddingplus {
  padding = 200px;
}
